@import './abstractions.scss';

html {
  font-size: 62.5%;
}

body {
  font-family: $montserrat;
}

a {
  text-decoration: none;
  outline: none;
  &:focus,
  &:active {
    outline: 1px $color-green-light solid;
  }
}

img {
  display: block;
  &:focus,
  &:active {
    outline: 1px $color-green-light solid;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sub-headline {
  text-transform: uppercase;
  color: $color-green-dark;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
  @media screen and (min-width: 1200px) {
    font-size: 4rem;
  }
  & span {
    font-size: 3rem;
    font-weight: 300;
    @media screen and (min-width: 1200px) {
      font-size: 4rem;
    }
  }
}

.paragraph {
  font-size: 1.8rem;
  line-height: 200%;
  color: $color-charcoal;
  margin-bottom: 4rem;
  @media screen and (min-width: 1200px) {
    font-size: 2.2rem;
  }

  &--lg {
    font-size: 2.2rem;
    line-height: 170%;
    color: $color-charcoal;
    @media screen and (min-width: 1200px) {
      font-size: 2.5rem;
    }
  }
  &--black {
    color: $color-black;
  }
}
