@import '../../../scss/abstractions.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/static/svg/bg-svg.svg');
  background-size: 180%;
  background-repeat: no-repeat;
  background-position: top left;
  padding: 0 1rem;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    background-position: center center;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 8vh 0;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 4rem 0;
    font-size: 1.6rem;
    text-align: center;
    @media screen and (min-width: 1200px) {
      font-size: 2.4rem;
      max-width: 515px;
      text-align: right;
      align-items: flex-end;
      margin: 0;
    }
  }

  &__cta-msg {
    color: $color-white;
    line-height: 170%;
    margin-top: 0;
  }
  &__cta-link {
    font-weight: 700;
    color: $color-gold;
    text-transform: uppercase;
  }

  &__contact-links {
    display: flex;
    align-items: center;
    margin: 2rem 0 4rem 0;

    @media screen and (min-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
    }
  }

  &__contact-link {
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-bottom: 2rem;
      align-items: center;
    }
    img {
      margin: 0 1rem;
      @media screen and (min-width: 1200px) {
        margin: 0 2rem 0 0;
        width: 3.2rem;
        &.github-icon {
          width: 4.5rem;
          margin: 0 1rem 0 0;
          position: relative;
          right: 0.5rem;
        }
      }
    }
    span {
      display: none;
      @media screen and (min-width: 1200px) {
        display: inline-block;
        color: $color-green-light;
        font-size: 2.5rem;
        font-weight: 700;
      }
    }
  }
}
