@import '../../scss/abstractions.scss';
@import '../../scss/animations.scss';

body {
  overflow-y: auto;
  position: relative;
  @media screen and (min-height: 600px) {
    // overflow-y: hidden;
  }
}

.landing-page {
  width: 100%;
  max-height: 100vh;
  box-sizing: border-box;
  color: $color-white;

  &__content {
    max-width: 500px;
    margin: 10vh auto 0 auto;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 0 2px;

    @media screen and (min-width: 700px) {
      max-width: 700px;
      margin: 20vh auto 0 auto;
      padding: 0 10px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 800px;
    }

    @media screen and (min-width: 1700px) {
      max-width: 900px;
      margin: 15vh auto 0 auto;
    }
  }

  &__headline {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0rem;
    letter-spacing: 5px;

    @media screen and (min-width: 700px) {
      font-size: 6rem;
      margin: 15vh auto 0 auto;
    }

    @media screen and (min-width: 1700px) {
      font-size: 8.5rem;
    }
  }

  &__sub-headline {
    font-size: 2rem;
    font-weight: 300;
    color: $color-blue-light;
    text-transform: uppercase;
    margin: 1rem 0 5vh 0;
    line-height: 130%;
    letter-spacing: 3px;

    @media screen and (min-width: 700px) {
      font-size: 3.5rem;
      margin: 1rem 0 3vh 0;
    }

    @media screen and (min-width: 1700px) {
      margin: 1rem 0 6rem 0;
    }
  }

  &__intro {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 1.5px;
    padding: 0 1.3rem;

    @media screen and (min-width: 700px) {
      font-size: 2rem;
    }

    @media screen and (min-width: 1700px) {
      font-size: 2.4rem;
      text-align: left;
    }
  }

  &__email {
    display: inline-block;
    margin-top: 8vh;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: $color-gold;
    padding: 1rem 0;
    letter-spacing: 2px;
    transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);

    &:hover,
    &:focus {
      color: $color-blue-light;
    }

    @media screen and (min-width: 700px) {
      font-size: 3rem;
      padding: 1.5rem 0;
      margin-top: 12vh;
    }
  }
}
