@import '../../../scss/abstractions.scss';
@import '../../../scss/animations.scss';

.header {
  width: 100%;
  height: 60px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: $color-black;
  padding: 0 1rem;

  @media screen and (min-width: 1200px) {
    padding: 0 5rem;
  }
  &--landing {
    justify-content: center;
    background-color: transparent;
  }
  align-items: center;
  &__brand-logo {
    height: 42px;
    &--hidden {
      display: none;
    }
  }

  &__menu-icon {
    cursor: pointer;
  }
}
