@import '../../../scss/abstractions.scss';

.project {
  width: 100%;
  margin-bottom: 9vh;
  text-align: center;
  @media screen and (min-width: 700px) {
    width: 40%;
  }

  @media screen and (min-width: 1200px) {
    width: 30%;
    text-align: left;
  }
  &__img {
    width: 100%;
  }
  &__title {
    color: $color-green-dark;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  &__description {
    margin-top: 0.5rem;
    font-size: 1.6rem;
  }
}
